* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #84ffc9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body>div>h3{
    color:black;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .todo-item,
  .input-form {
    display: flex;
    justify-content: space-between;
  }
  
  .input-form input {
    padding: 10px 20px;
    background-color: #FBFBFB;
  }
  
  .todo-item {
    background-color: white;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    border-radius: 10px;
    border-style: inset;
    margin: 10px 0;
    font-weight: bold;
  }